<div class="cont">
    <div class="table-responsive-md">
        <table class="table.S table-bordered table-sm table-dark">
            <tbody>
                <tr>
                    <td rowspan="3" class="bg-info">
                        <img src="assets/Foto.jpeg" id="foto">
                    </td>
                    <td colspan="3" class="bg-info">Nombre: Efren David Hernandez Rodrigez</td>
                </tr>
                <tr>
                    <td class="bg-info">Correo: efredav90@gmail.com</td>
                    <td class="bg-info">Numero: 7641120781</td>
                    <td class="bg-info">Direccion: Calle Emilio Carranza</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
