<button class="btn btn-primary btn-lg boton" type="button">Mostrar</button>
<br>
<div id="contenedor">
    <div class="table-responsive">
      <table>
        <tbody>
          <tr>
            <td>
              <div class="card" style="width: 18rem;">
                <img src="assets/5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">¿Qué pasó en internet durante la cuarentena?</h5>
                  <p class="card-text">Con la llegada del COVID-19 y la cuarentena muchos fueron los hábitos que cambiaron en nuestras vidas, entre ellos las formas de navegar por internet. Los proveedores de este servicio se dieron cuenta rápidamente de algunos cambios que tuvieron.</p>
                </div>
              </div>
            </td>
            <td>
              <div class="card" style="width: 18rem;">
                <img src="assets/4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">La importancia tecnológica en el sector ‘retail’</h5>
                  <p class="card-text">Entendemos el retail (también venta al detalle o comercio minorista) como el sector económico que engloba a las empresas especializadas en comerciar masivamente productos o servicios a una gran cantidad de clientes.</p>
                  
                </div>
              </div>
            </td>
            <td>
              <div class="card" style="width: 18rem;">
                <img src="assets/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Adéntrate en la tecnología del 5G</h5>
                  <p class="card-text">Es posible que últimamente hayas leído o escuchado todo tipo de bulos sobre la tecnología 5G (aquí se desmienten los más sonados). El sucesor del 4G hace referencia a la quinta generación de tecnologías de telefonía móvil, que mejora</p>
                
                </div>
              </div>
            </td>
          
          </tr>
          <tr>
            <td>
              <div class="card" style="width: 18rem;">
                <img src="assets/8.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Acércate a los tuyos gracias a estas ‘apps’ de videollamada</h5>
                  <p class="card-text">Sabemos que, ahora más que nunca, la comunicación con nuestros seres queridos es importante. <a [routerLink]="['completo']">ver mas</a></p>
            
                </div>
              </div>
            </td>
            <td>
              <div class="card" style="width: 18rem;">
                <img src="assets/7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">La robótica en medicina facilita un mundo más humano</h5>
                  <p class="card-text">Desde la más remota antigüedad, el ser humano ha querido recrear su propia naturaleza de manera artificial.</p>
                  
                </div>
              </div>
            </td>
            <td>
              <div class="card" style="width: 18rem;">
                <img src="assets/6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">¿Qué red social encaja mejor contigo?</h5>
                  <p class="card-text">Debido al confinamiento, las redes sociales han experimentado un lógico incremento en su uso, sobre todo por parte de los</p>
            
                </div>
              </div>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>