
<div id="contenedor"> 
    <h1>Acércate a los tuyos gracias a estas ‘apps’ de videollamada</h1>
    <img src="assets/17.jpg" id="imag">
    <p>Sabemos que, ahora más que nunca, la comunicación con nuestros seres queridos es importante. Estamos lejos de amigos y familiares, pero la tecnología nos reúne. Ya sea para entretenernos, tener reuniones de trabajo, realizar ejercicio físico en grupo, e incluso, gracias a la labor del personal sanitario, hacer posible que familiares y pacientes puedan hablar y verse a través de la pantalla.
        A continuación, te dejamos algunas aplicaciones con las que pasar buenos momentos con las personas que hacen nuestro día a día mejor:</p>
    <article>
        <h4>WhatsApp</h4><img src="assets/15.png">
        <p>Nadie duda de su popularidad, pocas personas de tu círculo conocerás que prescindan de Whatsapp, así que podrás hacer videollamadas con casi cualquiera. Para iniciar solo tienes que entrar en cualquier chat y darle a la cámara que aparece en la parte superior derecha. Una vez se inicie, en esa misma posición, tendrás la posibilidad de invitar a otro contacto. La parte negativa es que WhatsApp tiene un límite de 4 usuarios, algo corto para grandes reuniones virtuales. Puedes descargarla (si aún no la tienes) para iOS y Android.</p>
    </article>
    <article>
        <h4>Zoom</h4><img src="assets/16.jpg">
        <p>A diferencia de Whatsapp, Zoom nos permite realizar videollamadas grupales de hasta 100 usuarios en su versión gratuita, limitada a 40 minutos de duración. Pensada para el ámbito empresarial, ha dado el salto como alternativa a otras apps por su facilidad de uso, popularizándose entre las aplicaciones más descargadas en este ámbito. Algunos problemas detectados en sus sistemas de seguridad han puesto en cuestión a esta popular aplicación. Parece ser que están trabajando con intensidad para solucionarlo. Al igual que Whatsapp, puedes encontrarla en iOS y Android.</p>
    </article>
    <article>
        <h4>Houseparty</h4><img src="assets/13.jpg">
        <p>Houseparty está siendo la gran revelación y uno de los máximos beneficiados del confinamiento. Permite hacer videollamadas directas o crear ‘habitaciones’, salas privadas en las que poder hablar a las que pueden incorporarse los invitados que quieras cuando ellos puedan. La diferencia es que en estas salas puedes jugar con tus compañeros: juegos como el Pictionary o el Trivial… Diversión grupal para tiempos de encierro. Está disponible tanto para iOS como Android.</p>
    </article>
    <article>
        <h4>Skype</h4><img src="assets/14.png">
        <p>Seguramente, la aplicación de videollamada más conocida mundialmente. Permite hacer este tipo de conexiones con hasta 50 participantes, sin límite de tiempo. Se encuentra disponible tanto para PC como para móviles en iOS y Android.</p>
    </article>
    <article>
        <h4>Hangouts</h4><img src="assets/12.png">
        <p>Esta app de mensajería multiplataforma desarrollada por Google se creó para sustituir los servicios Google Talk, Google+ Messenger y Google+ Hangouts, unificando todos estos servicios en una única aplicación. En una videollamada pueden participar hasta 25 personas sin limitación temporal. Hace pocos días hemos conocido que próximamente la app cambiará de nombre. Si dispones de un correo Gmail, puedes instalarla en iOS y Android, además de usarla en PC.</p>
    </article>
    <p>Como siempre, te aconsejamos mantener actualizadas las apps en su última versión para disfrutar de mejoras y aumentar la seguridad de estas. ¡Disfrútalas!</p>
    <small>Efren David Hernandez Rodriuegez </small>
</div>
<div class="comentario">
    <h5></h5>
    <label for="exampleFormControlTextares">Ingresa un comentario</label>
    <textarea class="form-control" rows="3"></textarea>
    <h5>Comentarios</h5>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Usuario</th>
                <th>comentario</th>
            </tr>
            <tr>
                <td>Efren David</td>
                <td>Estas apps son las mejores...</td>
            </tr>
        </tbody>
    </table>
</div>